<h1> El CAMPEÓN de la 8a edición fue JOSE con BAYERN MUNICH!! </h1>
<h1> Quién será el campeón de la 9a edición??? </h1>

<%= form_for :post, url: posts_path do |f| %>
	<p>
		<%= f.label :nombre %> <br>
		<%= f.text_field :title %>		
	</p>

	<p>
		<%= f.label :respuesta %> <br>
		<%= f.text_area :body %>		
	</p>

	<p>
		<%= f.submit %>
		<button class="button"> <%= link_to 'Volver al home', root_path %> </button>

	</p>

<% end %>